
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div id="removeCursoModal" class="modal fade" role="dialog"
	th:fragment="remove-curso" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h4 class="modal-title ">
					<span style="font-weight: bold; color: #FFF"> Excluir Curso
					</span>
				</h4>
			</div>
			<div class="modal-body">
				<p>
					Você tem certeza que deseja excluir o curso <span
						style="font-weight: bold" th:text="| ${curso.nome} |"></span>?
				</p>
			</div>
			<div class="modal-footer">
				<form th:action="@{/cursos/{id}(id=${curso.id})}" method="post">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger">Excluir</button>
				</form>

			</div>
		</div>
	</div>
</div>
</html>