<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Alunos</title>
<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
	
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	
	<!-- JQuery UI -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

	
	
	

</head>
<body>
	<div align="center">
		<h2 style="padding-left: 8px">Alunos</h2>

	</div>


	<div class="container">
		<div class="btn-toolbar mb-3" role="toolbar"
			aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<a type="button" class="btn btn-secondary" href="/">Voltar</a>
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#novoAluno">Novo *</button>
			</div>
		</div>

	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Matrícula</th>
				<th scope="col">Curso</th>
				<th scope="col">Semestre</th>
				<th scope="col">Situação</th>
				<th scope="col">Editar</th>
				<th scope="col">Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="aluno : ${alunoList}">
				<td class="col-lg-2 center" th:text="${aluno.nome}"></td>
				<td class="col-lg-2 center" th:text="${aluno.matricula}"></td>
				<td class="col-lg-2 center" th:text="${aluno.curso.nome}"></td>
				<td class="col-lg-2 center" th:text="${aluno.semestre}"></td>
				<td class="col-lg-2 center" th:text="${aluno.descSituacaoMatricula}"></td>
				<td><a href="#" th:onclick="'javascript:openEditModal(\''+ ${aluno.id} + '\');'">
				<img th:src="@{/img/edit.png}"
						alt="Editar" />
				  </a> 
						
						<!-- Edição do Aluno -->
						<form class="form-inline" method="post" action="#"  th:object="${aluno}"
						 th:action="@{/alunos}"
							style="margin: 20px 0">
							<div class="modal fade" id="editarModal" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true" th:fragment="modalContents">
								<div class="modal-dialog">
									<div class="modal-content">

										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Editar
												Aluno</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Fechar">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>

										<div class="modal-body">

											<input id="fid" type="hidden" value="" />

											<div class="form-group">
												<label for="matricula" style="padding-right: 8px;">Matrícula</label>

												<input id="matricula"  type="text"
													 placeholder="Digite sua Matrícula" />

											</div>
											<br />
											<div class="form-group">
												<label for="nome" style="padding-right: 16px;">Nome</label>
												<input id="nome" type="text" value=""
													placeholder="Digite seu Nome" />

											</div>
											<br />
											<div class="form-group">
												<label for="semestre" style="padding-right: 8px;">Semestre</label>

												<input type="number" id="semestre" value=""
													placeholder="Semestre" />

											</div>
											<br />
											<div class="form-group">
												<label for="situacaoMatricula" style="padding-right: 8px;">Situação
													da Matrícula</label> <select id="situacaoMatricula"
													class="form-control form-control-sm">
													<option value="0">Matriculado</option>
													<option value="1">Trancado</option>
													<option value="2">Jubilado</option>
												</select>

											</div>
											<br />
											<div class="form-group">
												<label for="curso" style="padding-right: 8px;">Curso</label>
												<select id="curso" class="form-control form-control-sm">
													<option value="1">ADS</option>
													<option value="2">Administração</option>
													<option value="3">Jubilado</option>
												</select>



											</div>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-primary">Salvar</button>
										</div>

									</div>
								</div>
							</div>
						</form>

				</td>

				<td><a href="aluno.html" data-toggle="modal"
					data-target="#excluirAluno"> <img th:src="@{/img/remove.png}"
						alt="Remover" />
				</a></td>

			</tr>
		</tbody>
	</table>

	<!-- Inclusão do Aluno -->
	<form class="form-inline" method="post" action="#"
		style="margin: 20px 0" th:object="${aluno}" th:action="@{/alunos}">
		<div class="modal fade" id="novoAluno" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Novo Aluno</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label for="matricula" style="padding-right: 8px;">Matrícula</label>

							<input id="matricula" type="text" value=""
								th:field="*{matricula}" placeholder="Digite sua Matrícula" />

						</div>
						<br />
						<div class="form-group">
							<label for="nome" style="padding-right: 16px;">Nome</label> <input
								id="nome" type="text" th:field="*{nome}" value=""
								placeholder="Digite seu Nome" />

						</div>
						<br />
						<div class="form-group">
							<label for="semestre" style="padding-right: 8px;">Semestre</label>

							<input type="number" id="semestre" th:field="*{semestre}"
								value="" placeholder="Semestre" />

						</div>
						<br />
						<div class="form-group">
							<label for="situacaoMatricula" style="padding-right: 8px;">Situação
								da Matrícula</label> <select id="situacaoMatricula"
								class="form-control form-control-sm"
								th:field="*{situacaoMatricula}">
								<option value="0">Matriculado</option>
								<option value="1">Trancado</option>
								<option value="2">Jubilado</option>
							</select>

						</div>
						<br />
						<div class="form-group">
							<label for="curso" style="padding-right: 8px;">Curso</label> <select
								id="curso" class="form-control form-control-sm"
								th:field="*{curso.id}">
								<option value="1">ADS</option>
								<option value="2">Administração</option>
								<option value="3">Jubilado</option>
							</select>



						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>

				</div>
			</div>
		</div>
	</form>



	<!-- Exclusão do Aluno -->
	<form class="form-inline" method="post" action="#"
		style="margin: 20px 0" th:object="${aluno}" th:action="@{/alunos}">
		<div class="modal fade bd-example-modal-lg" id="excluirAluno"
			tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Excluir aluno</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Você tem certeza que deseja excluir esse aluno?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Sim</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Não</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- Modais -->
	<div th:fragment="edit-aluno" id="editAlunoModalHolder"></div>


	<script type="text/javascript">
	
		function openAlunoModal(id){
			$.ajax({
				url: "/student/" + id,
				success: function(data){
					$("#studentModalHolder").html(data);
					$('#studentModal').modal({
						backdrop: 'static'
					});
				}
			});
		}
		
		function openDeleteModal(id){
			$.ajax({
				url: "/delete-student/" + id,
				success: function(data){
					$("#deleteStudentModalHolder").html(data);
					$('#deleteStudentModal').modal({
						backdrop: 'static'
					});
				}
			});
		}
		
		function openEditModal(id){
			$.ajax({
				url: "/edit-aluno/" + id,
				success: function(data){
					$("#editAlunoModalHolder").html(data);
					$("#editAlunoModal").modal({
						backdrop: 'static'
					});
				}
			});
		}
		
		function openAddStudentModal(){
			$.ajax({
				url: "/add-student",
				success: function(data){
					$("#addStudentModalHolder").html(data);
					$('#addStudentModal').modal({
						backdrop: 'static'
					});
				}
			});
		}
	</script>




</body>
</html>