<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Painel Administrativo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />
</head>
<body>
	<h2 style="padding-left: 8px">
		Teste Apisys <span class="badge badge-secondary">Acessar:</span>
	</h2>
	<div class="container">
		<div class="btn-toolbar mb-3" role="toolbar"
			aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<a type="button" class="btn btn-secondary" href="alunos.html">Alunos</a>
				<a type="button" class="btn btn-secondary" href="cursos.html">Cursos</a>
				
			</div>
		</div>

	</div>

</body>
</html>