<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Painel Administrativo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />
</head>
	<body>
	
			<div class="container-fluid">
				
				<div class="container" style="text-align:center">						
					<h2>Sistema de Controle Pedagógico</h2>				
				
				</div>
			
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item active" aria-current="page"><a type="button" class="btn btn-secondary" href="alunos">Alunos</a></li>
				    <li class="breadcrumb-item active" aria-current="page"><a type="button" class="btn btn-secondary" href="cursos">Cursos</a></li>
				  </ol>
				</nav>
				
			</div>
	</body>
</html>